
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 background: #8422e0;
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  font-family: 'Segoe UI', sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.registration-container {
  width: 100%;
  max-width: 400px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.registration-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.entered-name {
  text-align: center;
  color: #38bdf8;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.registration-input,
.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.3);
  font-size: 16px;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.6);
  transition: 0.3s;
}

.registration-input::placeholder {
  color: rgba(255,255,255,0.6);
}


.registration-input:focus,
.input:focus {
  border-color: #b8eaff;
  box-shadow: 0 0 10px white;
  transform: scale(1.02);
}

.registration-button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #3b82f6, #9333ea);
  color: white;
  transition: 0.3s;
}

.registration-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(147,51,234,0.8);
}

.registration-button:active {
  transform: scale(0.96);
}

@media (max-width: 500px) {
  .registration-container {
    margin: 20px;
    padding: 25px;
  }
}